<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Details</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="nav-background">
            <div class="mobile-logo">
                <img src="./images/resturant.png" alt="">
            </div>
            <div class="mobile-nav">
                <div class="cart">
                    <div class="flex items-center">
                        <img src="./icons/cart-dark.svg" alt="">
                        <a href="#">0 Items - ($0.00)</a>
                    </div>
                </div>
                <div class="nav-top">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Products</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Shop</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Log in</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="contact flex items-center">
                    <img src="./icons/phone.svg" alt="">
                    <div>
                        <h5>Call us: (+84) 123 456 789</h5>
                        <h6>E-mail : support@freshmeal.com</h6>
                    </div>
                </div>
                <div class="time flex items-center">
                    <img src="./icons/clock.svg" alt="">
                    <div>
                        <h5>Working Hours:</h5>
                        <h6>Mon - Sat (8.00am - 12.00am)</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-content-wrapper">
            <div class="nav-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-bar-chart">
                    <line x1="12" y1="20" x2="12" y2="10" />
                    <line x1="18" y1="20" x2="18" y2="4" />
                    <line x1="6" y1="20" x2="6" y2="16" />
                </svg>
            </div>
            <div class="site-content">
                <div class="header-stop">
                    <header class="topbar">
                        <div class="container flex justify-between items-center">
                            <div class="icons">
                                <a href="#"><img src="./icons/facebook.svg" alt=""></a>
                                <a href="#"><img src="./icons/twitter.svg" alt=""></a>
                                <a href="#"><img src="./icons/google.svg" alt=""></a>
                                <a href="#"><img src="./icons/instagram.svg" alt=""></a>
                                <a href="#"><img src="./icons/search.svg" alt=""></a>
                            </div>
                            <div class="auth flex items-center">
                                <div>
                                    <img src="./icons/user-icon.svg" alt="">
                                    <a onclick="login()" id="login" href="#">Log in</a>
                                </div>
                                <span class="divider">|</span>
                                <div>
                                    <img src="./icons/edit.svg" alt="">
                                    <a onclick="signup()" id="signup" href="#">Register Now</a>
                                </div>
                                <span class="divider">|</span>
                                <div>
                                    <img src="./icons/cart.svg" alt="">
                                    <a href="#">0 Items - ($0.00)</a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="popup" id="popup">
                        <div class="form" id="form">
                            <div class="reg-form" id="reg-form">
                                <a href=""> <img class="cancel" style="height:20px;" src="icons/cancel.svg"> </a>
                                <h2 class="title">Registration Form</h2>
                                <form>
                                    <div class="flex justify-between input">
                                        <label class="label">Name</label>
                                        <input class="input--style-4" type="text" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">Email Address</label>
                                        <input class="input--style-4" type="email" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">Phone Number</label>
                                        <input class="input--style-4" type="number" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">password</label>
                                        <input class="input--style-4" type="password" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">Confirm password .</label>
                                        <input class="input--style-4" type="password" name="student">
                                    </div>
                                    <div class="input">
                                        <button class="button" type="submit"> Sign Up</button>
                                    </div>
                                </form>
                            </div>
                            <div class="log-form" id="log-form">
                                <a href=""><img class="cancel" style="height:20px;" src="icons/cancel.svg"> </a>
                                <h2 class="title">login Form</h2>
                                <form>
                                    <div class="flex justify-between input">
                                        <label class="label">Email Address</label>
                                        <input class="input--style-4" type="email" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">password</label>
                                        <input class="input--style-4" type="password" name="student">
                                    </div>
                                    <div class="input">
                                        <button id="log-button" class="button" type="submit"> Sign Up</button>
                                    </div>
                                </form>
                            </div>
                            <script>
                                function login() {
                                    var x = document.getElementById("popup");

                                    if (x.style.display === "none") {
                                        x.style.display = "block";
                                        $("#log-form").show();
                                        $("#reg-form").hide();
                                    } else {
                                        x.style.display = "none";

                                    }
                                }
                                function signup() {
                                    var x = document.getElementById("popup");

                                    if (x.style.display === "none") {
                                        x.style.display = "block";
                                        $("#reg-form").show();
                                        $("#log-form").hide();
                                    } else {
                                        x.style.display = "none";

                                    }
                                }
                            </script>
                        </div>
                    </div>

                    <nav>
                        <div class="top">
                            <div class="container flex justify-between">
                                <div class="contact flex items-center">
                                    <img src="./icons/phone.svg" alt="">
                                    <div>
                                        <h5>Call US: (+84) 123 456 789</h5>
                                        <h6>E-mail : support@freshmeal.com</h6>
                                    </div>
                                </div>
                                <div class="branding">
                                    <img src="./images/resturant.png" alt="">
                                </div>
                                <div class="time flex items-center">
                                    <img src="./icons/clock.svg" alt="">
                                    <div>
                                        <h5>Working Hours:</h5>
                                        <h6>Mon - Sat (8.00am - 12.00am)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar magic-shadow">
                            <div class="container flex justify-center">
                                <a href="#" class="active">Home</a>
                                <a href="#">About us</a>
                                <a href="#">Products</a>
                                <a href="#">Blog</a>
                                <a href="#">Shop</a>
                                <a href="#">Services</a>
                                <a href="#">Gallery</a>
                                <a href="#">Contact us</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="mobile-logo">
                    <img src="./images/resturant.png" alt="">
                </div>
                    <div class="maroon-background">
                        <div class="container">
                            <div class="card-container flex">
                                <div class="card-items-container">
                                    <div class="card-items">
                                        <div class="flex">
                                            <img class="margin-1rem" src="./images/plate-1.png">
                                            <div class="flex">
                                                <div class="">
                                                    <h2 class="margin-1rem">Reshuan Salad</h2>
                                                    <div class="counter flex justify-center ">
                                                        <span class="down" onclick="decreaseCount(event, this)">-</span>
                                                        <input type="number" value="1">
                                                        <span class="up" onclick="increaseCount(event, this)">+</span>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <h2 class="margin-1rem ">$125</h2>
                                                    <input class="quantity-checkbox" type="checkbox">

                                                </div>
                                            </div>



                                            <script type="text/javascript">
                                                function increaseCount(a, b) {
                                                    var input = b.previousElementSibling;
                                                    var value = parseInt(input.value, 10);
                                                    value = isNaN(value) ? 0 : value;
                                                    value++;
                                                    input.value = value;
                                                }
                                                function decreaseCount(a, b) {
                                                    var input = b.nextElementSibling;
                                                    var value = parseInt(input.value, 10);
                                                    if (value > 1) {
                                                        value = isNaN(value) ? 0 : value;
                                                        value--;
                                                        input.value = value;
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>
                                    <div class="card-items">
                                        <div class="flex">
                                            <img class="margin-1rem" src="./images/plate-1.png">
                                            <div class="flex">
                                                <div class="">
                                                    <h2 class="margin-1rem">Reshuan Salad</h2>
                                                    <div class="counter flex justify-center ">
                                                        <span class="down" onclick="decreaseCount(event, this)">-</span>
                                                        <input type="number" value="1">
                                                        <span class="up" onclick="increaseCount(event, this)">+</span>
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <h2 class="margin-1rem ">$125</h2>
                                                    <input class="quantity-checkbox" type="checkbox">

                                                </div>
                                            </div>



                                            <script type="text/javascript">
                                                function increaseCount(a, b) {
                                                    var input = b.previousElementSibling;
                                                    var value = parseInt(input.value, 10);
                                                    value = isNaN(value) ? 0 : value;
                                                    value++;
                                                    input.value = value;
                                                }
                                                function decreaseCount(a, b) {
                                                    var input = b.nextElementSibling;
                                                    var value = parseInt(input.value, 10);
                                                    if (value > 1) {
                                                        value = isNaN(value) ? 0 : value;
                                                        value--;
                                                        input.value = value;
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-summary-container">
                                    <div class="card-summary">
                                        <h3 class="margin-1rem">Order Summary</h3>
                                        <div class="cost">
                                            <h5 class="margin-1rem">Food cost</h5>
                                            <h5 class="margin-1rem">$200</h5>
                                        </div>
                                        <div class="cost">

                                            <h5 class="margin-1rem">Shipping cost</h5>
                                            <h5 class="margin-1rem">$20</h5>

                                        </div>
                                        <div class="cost">
                                            <div class="cuppon-box">
                                                <h5 class="margin-1rem">Voucher code</h5>
                                                <div class="cuppon">
                                                    <input type="text">
                                                    <a href=""><img src="icons/check.svg"></a>
                                                </div>

                                            </div>
                                        </div>
                                        <hr>
                                        <div class="cost">
                                            <h5 class="margin-1rem">Total</h5>
                                            <h5 class="margin-1rem">$220</h5>
                                        </div>

                                        <div class="open-address-box">
                                            <a onclick="myFunction()">NEXT</a>
                                        </div>
                                        <div id="confirm-order">
                                            <div class="phone">
                                                <h5 class="">Enter Your Phone No.</h5>
                                                <input type="number">
                                            </div>
                                            <div class="delivary-address margin-2rem">
                                                <h5 class="">Delivary Address</h5>
                                                <input type="text">
                                            </div>
                                            <div class="open-address-box">
                                                <a href="">Confirm Order</a>

                                            </div>
                                        </div>
                                        <script>
                                            function myFunction() {
                                                var x = document.getElementById("confirm-order");
                                                if (x.style.display === "none") {
                                                    x.style.display = "block";
                                                } else {
                                                    x.style.display = "none";
                                                }
                                            }
                                        </script>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                
                <section class="contact-us flex">
                    <div class="contact-info-wrapper">
                        <h1 class="section-heading">Contact us</h1>
                        <div class="contact-info">
                            <div>
                                <div>
                                    <img src="./icons/phone-2.svg" alt="">
                                    <div>
                                        <span>Call us:</span>
                                        <span>(+84) 123 456 789</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="./icons/bag-2.svg" alt="">
                                    <div>
                                        <span>E-mail ::</span>
                                        <span>support@freshmeal.com</span>
                                    </div>
                                </div>
                                <div>
                                    <img src="./icons/clock-2.svg" alt="">
                                    <div>
                                        <span>Working Hours:</span>
                                        <span>Mon - Sat (8.00am - 12.00am)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d206253.45012861438!2d-115.31508258571672!3d36.124918453865035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80beb782a4f57dd1%3A0x3accd5e6d5b379a3!2sLas%20Vegas%2C%20NV%2C%20USA!5e0!3m2!1sen!2sru!4v1580850940897!5m2!1sen!2sru"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </section>
                <footer>
                    <div class="container">
                        <div class="box">
                            <h3>About us</h3>
                            <p>It was popularised in the 1960 with the release of Latest sheets containing Lorem Ipsum
                                passage.</p>
                            <button class="btn btn-secondary">Read More</button>
                        </div>
                        <div class="box">
                            <h3>Quik Links</h3>
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">About us</a>
                                </li>
                                <li>
                                    <a href="#">Products</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Gallery</a>
                                </li>
                                <li>
                                    <a href="#">Contact us</a>
                                </li>

                            </ul>
                        </div>
                        <div class="box">
                            <h3>Follow Us</h3>
                            <div>
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/codersgyan">
                                            <img src="./icons/facebook.svg" alt="">
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/CoderGyan">
                                            <img src="./icons/twitter.svg" alt="">
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="./icons/google.svg" alt="">
                                            <span>Google +</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/codersgyan/">
                                            <img src="./icons/instagram.svg" alt="">
                                            <span>Instagram</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box instagram-api">
                            <h3>Instagram</h3>
                            <div class="post-wrap">
                                <div>
                                    <img src="./images/food-table.jpg" alt="">
                                </div>
                                <div>
                                    <img src="./images/food-table.jpg" alt="">
                                </div>
                                <div>
                                    <img src="./images/food-table.jpg" alt="">
                                </div>
                                <div>
                                    <img src="./images/food-table.jpg" alt="">
                                </div>
                                <div>
                                    <img src="./images/food-table.jpg" alt="">
                                </div>
                                <div>
                                    <img src="./images/food-table.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>