<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Details</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="nav-background">
            <div class="mobile-logo">
                <img src="./images/resturant.png" alt="">
            </div>
            <div class="mobile-nav">
                <div class="cart">
                    <div class="flex items-center">
                        <img src="./icons/cart-dark.svg" alt="">
                        <a href="#">0 Items - ($0.00)</a>
                    </div>
                </div>
                <div class="nav-top">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Products</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Shop</a>
                        </li>
                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Log in</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="contact flex items-center">
                    <img src="./icons/phone.svg" alt="">
                    <div>
                        <h5>Call us: (+84) 123 456 789</h5>
                        <h6>E-mail : support@freshmeal.com</h6>
                    </div>
                </div>
                <div class="time flex items-center">
                    <img src="./icons/clock.svg" alt="">
                    <div>
                        <h5>Working Hours:</h5>
                        <h6>Mon - Sat (8.00am - 12.00am)</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-content-wrapper">
            <div class="nav-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-bar-chart">
                    <line x1="12" y1="20" x2="12" y2="10" />
                    <line x1="18" y1="20" x2="18" y2="4" />
                    <line x1="6" y1="20" x2="6" y2="16" />
                </svg>
            </div>
            <div class="site-content">
                <div class="header-stop">
                    <header class="topbar">
                        <div class="container flex justify-between items-center">
                            <div class="icons">
                                <a href="#"><img src="./icons/facebook.svg" alt=""></a>
                                <a href="#"><img src="./icons/twitter.svg" alt=""></a>
                                <a href="#"><img src="./icons/google.svg" alt=""></a>
                                <a href="#"><img src="./icons/instagram.svg" alt=""></a>
                                <a href="#"><img src="./icons/search.svg" alt=""></a>
                            </div>
                            <div class="auth flex items-center">
                                <div>
                                    <img src="./icons/user-icon.svg" alt="">
                                    <a onclick="login()" id="login" href="#">Log in</a>
                                </div>
                                <span class="divider">|</span>
                                <div>
                                    <img src="./icons/edit.svg" alt="">
                                    <a onclick="signup()" id="signup" href="#">Register Now</a>
                                </div>
                                <span class="divider">|</span>
                                <div>
                                    <img src="./icons/cart.svg" alt="">
                                    <a href="#">0 Items - ($0.00)</a>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="popup" id="popup">
                        <div class="form" id="form">
                            <div class="reg-form" id="reg-form">
                                <a href=""> <img class="cancel" style="height:20px;" src="icons/cancel.svg"> </a>
                                <h2 class="title">Registration Form</h2>
                                <form>
                                    <div class="flex justify-between input">
                                        <label class="label">Name</label>
                                        <input class="input--style-4" type="text" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">Email Address</label>
                                        <input class="input--style-4" type="email" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">Phone Number</label>
                                        <input class="input--style-4" type="number" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">password</label>
                                        <input class="input--style-4" type="password" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">Confirm password .</label>
                                        <input class="input--style-4" type="password" name="student">
                                    </div>
                                    <div class="input">
                                        <button class="button" type="submit"> Sign Up</button>
                                    </div>
                                </form>
                            </div>
                            <div class="log-form" id="log-form">
                                <a href=""><img class="cancel" style="height:20px;" src="icons/cancel.svg"> </a>
                                <h2 class="title">login Form</h2>
                                <form>
                                    <div class="flex justify-between input">
                                        <label class="label">Email Address</label>
                                        <input class="input--style-4" type="email" name="student">
                                    </div>
                                    <div class="flex justify-between input">
                                        <label class="label">password</label>
                                        <input class="input--style-4" type="password" name="student">
                                    </div>
                                    <div class="input">
                                        <button id="log-button" class="button" type="submit"> Sign Up</button>
                                    </div>
                                </form>
                            </div>
                            <script>
                                function login() {
                                    var x = document.getElementById("popup");

                                    if (x.style.display === "none") {
                                        x.style.display = "block";
                                        $("#log-form").show();
                                        $("#reg-form").hide();
                                    } else {
                                        x.style.display = "none";

                                    }
                                }
                                function signup() {
                                    var x = document.getElementById("popup");

                                    if (x.style.display === "none") {
                                        x.style.display = "block";
                                        $("#reg-form").show();
                                        $("#log-form").hide();
                                    } else {
                                        x.style.display = "none";

                                    }
                                }
                            </script>
                        </div>
                    </div>

                    <nav>
                        <div class="top">
                            <div class="container flex justify-between">
                                <div class="contact flex items-center">
                                    <img src="./icons/phone.svg" alt="">
                                    <div>
                                        <h5>Call US: (+84) 123 456 789</h5>
                                        <h6>E-mail : support@freshmeal.com</h6>
                                    </div>
                                </div>
                                <div class="branding">
                                    <img src="./images/resturant.png" alt="">
                                </div>
                                <div class="time flex items-center">
                                    <img src="./icons/clock.svg" alt="">
                                    <div>
                                        <h5>Working Hours:</h5>
                                        <h6>Mon - Sat (8.00am - 12.00am)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar magic-shadow">
                            <div class="container flex justify-center">
                                <a href="#" class="active">Home</a>
                                <a href="#">About us</a>
                                <a href="#">Products</a>
                                <a href="#">Blog</a>
                                <a href="#">Shop</a>
                                <a href="#">Services</a>
                                <a href="#">Gallery</a>
                                <a href="#">Contact us</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>